*,
::before,
::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Estilos gerais
/* 2. Navbar
/* 3. Loading
/* 4. Container
/* 5. State Select
/* 6. Status
/* 7. Data Box
/* 8. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

[data-theme="light"] {
	--clr-background:#F5F5F5;
	--clr-font:#111111;
    --clr-card:#FEE7E7;
    --clr-switch-track:#AABBCC;
    --clr-link:#3333FF;

    --clr-grena:#6d131a;
    --clr-confirmed:#D21212;
    --clr-deaths:#223344;
    --clr-vaccinated-1:#0000C7;
    --clr-vaccinated-2:#117711;

	--ff: "Cairo", sans-serif;
    --ts-caption: 600 1.8rem/1 var(--ff);
    --ts-normal-text: 400 1.6rem/1.4 var(--ff);
    --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);

    --transition: all 0.2s linear;
    --shadow-card: 5px 5px 30px 0 rgba(51, 51, 51, 20%);
}

[data-theme="dark"] {
	--clr-background:#111111;
	--clr-font:#F5F5F5;
    --clr-card:#1A1A1A;
    --clr-switch-track:#AABBCC;
    --clr-link:#C2C2FF;

    --clr-confirmed:#FF3333;
    --clr-deaths:#AABBCC;
    --clr-vaccinated-1:#6666DD;
    --clr-vaccinated-2:#44BB44;
    
	--ff: "Cairo", sans-serif;
    --ts-caption: 600 1.6rem/1 var(--ff);
    --ts-normal-text: 400 1.6rem/1.4 var(--ff);
    --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);

    --transition: all 0.2s linear;
    --shadow-card: 5px 5px 30px 0 rgba(221, 221, 221, 5%);
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

body{
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
    
}

h3{
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    padding-bottom: 1.5rem;
    margin-left: .6rem;
}

a{
    text-decoration: none;
}

table, th, td {
  text-align: center;
  align-items: center;
  width: 60%;
  
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}



/**********************************/
/* 2. Navbar
/**********************************/
.navbar{
    padding-left: 15px;
    background-color: var(--clr-background);
    box-shadow: var(--shadow-card);
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    text-align: center;
    

}
.home{
    margin-right: : 1rem;
        
    width: 200px;
    color: red;
    font:var(--ts-caption);
}
.nav{
    padding: 19px 20px 24px;    
    font-size: .8rem;
    text-transform: uppercase;
    color: #707070;
    font-family: 'Open Sans', sans-serif;
    vertical-align: text-bottom;

}
.plus{
    color: var(--clr-background);
    padding-bottom: .6rem;
}
.nav:hover{
    background-color: var(--clr-grena);
    color:white;
    cursor: pointer;
}


/**********************************/
/* 2. atendimentos
/**********************************/





.nav-atendimentos{
        min-height: 327px;
        display: flex;


}
.jn-atend{
    width: 33%;
    font-size: 1rem;
    align-items: center;
    align-content: center;
    text-align: center;


}

.inc-at{
    font-size: 40px;
    padding: 2rem 1.5rem;
}
.jn-red{
    background-color:var(--clr-grena);
    color:#F5F5F5;
 
}
.jn-white{
    color: #707070;



}

.mySlides {
    display:none;

}


.bt-atend{
    margin: 1rem;
    color: white;
    background-color: var(--clr-grena);
    padding: 6px 23px;
    border: 1px solid white;
    border-radius: .3rem;
    cursor: pointer;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: .8rem;

}

.bt-atend:hover{
   
    background-color: white;
    color: var(--clr-grena);
    

}
.teste:hover{
   
     background-color: var(--clr-grena);
    color:white;
    cursor: pointer;
}


/**********************************/
/* 4. Noticias
/**********************************/
.col{
   border-bottom: 5px solid #ddd;
}


.last-news{
    display: flex;
    font-size: 28px; 
    font-weight: 800;
    margin-left: 10px;
    align-items: center;
    border-style: double;
    padding-top: 2rem;
    color: var(--clr-grena);


}
.txt-light{
    font:var(--ts-caption);
    margin-right: .6rem;
    color: var(--clr-grena);
    height: auto;
    width: auto;


}

.pn-not{
    height: 412px;
    width: 300px;
    background-color: #707070;
}

.ppp{
    display: flex;
}
.pn-cert{
    height: 412px;
    width: 300px;
    background-color: #707070;
}
/**********************************/
/* 5. Paralax
/**********************************/
.paralax{
    color: white;
    padding-top: 3rem;
    background-image: url("../mountain.jpg");
    height: 655px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    align-items: center;
    align-content: center;
    text-align: center;



}

.space{
    min-height: 600px;
    min-width: 500px;
}
.txt-light-w{
    padding: 2rem;
    color:white;
    font-size: 3rem;
    margin-bottom: 9.3rem;

}
.header-pn {

    
    text-align: center;
    align-content: center;


}

/**********************************/
/* 6. Status
/**********************************/
.pn-trip{
    display: flex;
    align-self: flex-end;

}
.painel{
    width: 33%;
    height: 347px;
    vertical-align: baseline;

}
.pn-mei{
    
    
}


.pn-esq{  
    

}



h3.lined::after{
    content: "";
    width: 200%;
    height: 0.75em;
    display: inline-block;
    margin: 0 -200% 0 0;
    position: relative;
    left: 20px;
    bottom: 0.2em;
    vertical-align: bottom;
    background: url(../bg-head.jpg) repeat-x;
    overflow: hidden;
}

.titulo{
    text-transform: uppercase;

}
.linha{

    height: 2px;
    border: 2px solid red;
    width: 95%; 
}

.tt{
    display: flex;
    
    
    text-align: center;


}

.grid-container {
    margin-left: 15%;
    margin-right: 15%;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  
  padding: 10px;
}
.grid-item {
  
  text-align: left;
  padding: 20px;
  font-size: 30px;
  
}
/**********************************/
/* 7. Data Box
/**********************************/
.text{
    font-size: 15px;
   
    text-indent: 10px;
}
.textParag{
    font-size: 15px;
    padding-left: 80px;
    padding-top: 5px;
    
    text-align: justify;
    padding-bottom: 15px
}
.textItem{
    font-size: 18px;
   padding-left: 90px;
    text-indent: 10px;
    padding-top: 10px;
    line-height: 1;
     text-align: justify;
}
.maior{
    display: flex;
    padding: 20px;
    text-align: left;
    max-width: 75%;
    flex-direction: column;

}
 h2::after{
    height: 2px;
    border: 2px solid red;
    width: 95%; 
 }
strong {
  font-weight: bold;
}
/**********************************/
/* 8. Footer
/**********************************/

.teste {

  background-color: #6d131a;
  width: 100%;
  border-radius: .7rem;
  padding: 10px;
  margin: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.info{
    
    display: none;
}
